body {

    font-family: Arial, Helvetica, sans-serif; 
    background-color: black;


}

h1 {

    margin: 0;
    gap: 10px;
    color: white;

}

h2 {

    color: white;

}

h3 {

    color: white;

}

p {

    color: white;

}

.container {

    margin: 0;
    height: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.planeta_sub {

    margin: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nomes_planetas {

    margin: 0;
    height: 150px;
    display: flex;
    gap: 215px;
    justify-content: center;
    align-items: center;

}

.Jupiter {

    width: 200px;
    height: auto;

}

.Saturno {

    width: 300px;
    height: auto;

}

.Urano {

    width: 290px;
    height: auto;

}

.Venus {

    width: 200px;
    height: auto;
}

.botao {
    
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 5px; /* distância do final da página */
    left: 96%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: gold;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
      );
    border: none;
    cursor: pointer;
    }

     .titulo_planetas {

    font-size: 40px;
    margin: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 /* pag saturno */

 .saturnoimg {

    width: 1000px;
    height: auto;

 }

 .container_sat {

    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.paragrafo_sat {

    color: white;
    width: 650px;
    background-color:rgba(62, 61, 61, 0.251);
    padding: 10px;
    border-radius: 5%;

}

.coord {

    font-size: 25px;
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}

 /* pag jupiter */


  .jupiterimg {

    width: 1400px;
    height: auto;

 }

 /* pag jupiter */

 .uranoimg {

    width: 1500px;
    height: auto;
     
 }
